.Wrapper {
  padding: 2em;
}

.Button {
  display: inline-block;

  padding: 0.5em 3em;
  border: 0.16em solid green;
  margin: 0.4rem 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  color: #190a3b;
  text-align: center;
  transition: all 0.15s;
}
.Button:hover {
  color: green;
  border-color: greenyellow;
}

.Button:active {
  color: #dddddd;
  border-color: #dddddd;
}
@media all and (max-width: 30em) {
  .Button {
    display: block;
    margin: 0.4em auto;
  }
}
