.Contact {
  text-align: center;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2rem 0 1rem 0rem;
}
.ContactHeading {
  padding-top: 2rem;
  font-size: 3rem;
  font-weight: bolder;
}
.MainDiv {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  font-weight: bolder;

  background-image: url("../../../assets/images/servicetitlebg.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
