.Container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  flex-direction: row;
}

.LeftCol {
  padding: 2rem 5rem 3rem 5rem;
  margin-bottom: 0.5em;
  width: 50%;

  text-align: left;
}
.RightCol {
  padding: 1.25em;
  width: 50%;
}
.ContactImage {
  width: 100%;
}
.H1 {
  padding-top: 2rem;
  font-family: Apple Chancery, cursive;
  font-weight: 500px;
}

@media screen and (max-width: 992px) {
  .Container {
    flex-direction: column;
  }
  .LeftCol {
    width: 100%;
  }
  .RightCol {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .Container {
    flex-direction: column;
  }
  .LeftCol {
    width: 100%;
  }
  .RightCol {
    width: 100%;
  }
}
